body {
	background-color:  #e6e6e6;
}

ul {
	margin: 0px;
	padding: auto;
}

/* Baisc Style */

.employeeCard {
	display: inline-block;
	background-color: #fff;
	border: solid #ccc 3px;
	border-radius: 8px;
	width: 25%;
	margin: 20px 1.38888889%;
	padding: 20px;
	/*position: relative;
	z-index: 99;*/
}

.employeeImg {
	border-radius: 50%;
	padding-left: 20px;
	float: left;
}

.f_Name,
.cardStyle {
	padding-left: 40%;
}

.f_Name {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 8px;
}

hr,
.cardStyle {
	color: #ccc;
}

.cardStyle {
	margin: 8px;
}


/* Light Box */
.overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
}

.overlayBox {
  	margin: 5% 35%;
  	width: 20%;
	position: absolute;
}

.pic {
	float: none;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.moreInfo {
	text-align: center;
	padding: .25em;
}

.btn {
	margin: 10px 0px 10px 83%;
	padding: 8px 15px;
	position: absolute;
	top: -6px;
}









